!!!
%html
  %head
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
    %meta{"name"=>"description", :content=>@description || BootstrapLeather.configuration.application_description || ''}

    = csrf_meta_tag

    = render_title
    = render_keywords
    = render_description
    = responsive_meta_tag

    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}

    - if @rss_title && @rss_url
      = auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title})

    = stylesheet_link_tag 'application'
    = render_css

  %body{:class => controller.controller_name}
    = nav_bar_with_container :class => 'navbar-static-top navbar-inverse' do
      = nav_list do
        = dropdown_nav_item 'Lorem', '#' do
          = nav_item 'Ipsum', '#'
          = nav_item 'Dolor', '#'
          = nav_item 'Sit', '#'
        = nav_item 'Ipsum', '#'
        = nav_item 'Dolor', '#'
        = nav_item 'Sit', '#'
      = nav_list :class => 'pull-right' do
        = nav_item 'Amet', '#', :data => {:toggle => 'modal', :target => '#modal'}

    = nav_bar_in_container :class => 'navbar-static-top navbar-inverse' do
      = nav_list do
        = dropdown_nav_item 'Lorem', '#' do
          = nav_item 'Ipsum', '#'
          = nav_item 'Dolor', '#'
          = nav_item 'Sit', '#'
        = nav_item 'Ipsum', '#'
        = nav_item 'Dolor', '#'
        = nav_item 'Sit', '#'
      = nav_list :class => 'pull-right' do
        = nav_item 'Amet', '#'

    .container
      .row
        = render_hero_unit
      .row
        .span8
          = breadcrumb do
            = nav_item 'Ipsum', '#'
            = nav_item 'Dolor', '#'
            = nav_item 'Sit', '#'
          = render_h1
          = alert_flash_messages
          = yield
        .span3.pull-right
          = render_widgets
    = modal 'test' do
      %p Lorem ipsum, baby.

    = javascript_include_tag 'application'
    = render_javascript
