<%% add_title '<%= plural_table_name.titleize %>' %>

<table class="table table-bordered">
  <thead>
  <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
    <th><%= attribute.human_name %></th>
<% end -%>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
  <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
    <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
    <td><%%= link_to :show.l, <%= singular_table_name %>, class: 'btn btn-success' %></td>
    <td><%%= link_to :edit.l, edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'btn btn-info' %></td>
    <td><%%= link_to :destroy.l, <%= singular_table_name %>, method: :delete, class: 'btn btn-danger', data: { confirm: :are_you_sure.l } %></td>
  </tr>
  <%% end %>
  </tbody>
</table>

<p>
  <%%= link_to :new.l(name: '<%= singular_table_name.titleize %>'), new_<%= singular_table_name %>_path, class: 'btn btn-primary' %>
</p>